:local{
  .loadingIcon{
    font-size: 40px;
  }
  .loadingText{
    font-size: 14px;
    padding-top: 30px;
    padding-left: 20px; 
    color: #1890ff;
  }
  .title {
    padding: 44px 0 31px 0;
    font-size: 25px;
    color: #333333;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
  }
  .content {
    border-radius: 2px;
    background: #fff;
    padding: 100px;
    h3{
      font-size: 18px;
      margin-bottom: 20px;
      &::before{
        content:'# '
      }
    }
  }

}
