:local {
  .container {
    width: 100%;
  }
  .title {
    margin-top: 40px;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 50px;
    line-height: 40px;
  }
  .resume{
    padding-left: 15px;
    cursor: pointer;
  }
  .projectItem{
    h2{
      padding-bottom: 20px; 
    }
    p{
      padding: 5px 0;
    }
    img{
      width: 100%;
      height: auto;
    }
    .electron_app_icon{
        width:50px;
        height: 50px;
        cursor: pointer;
        margin-left: 20px;
    }
  }
  .content {
    border-radius: 2px;
    background: #fff;
    padding: 20px;
    padding-left: 40px;
    i {
      display: inline-block;
      width: 30px;
      font-size: 24px;
    }
    &>div {
      font-size: 18px;
      padding: 10px 0;
    }
    span {
      margin-left: 30px;
      font-size: 18px;
    }
    ol {
      position: relative;
      top: -27px;
      padding-left: 110px;
      li{
          margin-bottom: 10px;
      }
    }
  }
}
