:local {
  .container {
    width: 100%;
  }
  .themeName {
    margin-top: 40px;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 50px;
    line-height: 40px;
  }
  .title {
    padding: 44px 0 31px 0;
    font-size: 25px;
    color: #333333;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
  }
  .content {
    border-radius: 2px;
    background: #fff;
    padding: 20px;
    h3{
      font-size: 18px;
      margin-bottom: 20px;
      &::before{
        content:'# '
      }
    }
  }
  .text{
    border-radius: 2px;
    background: #fff;
    padding: 20px;
    padding-left: 30px;
    line-height: 2;
    font-size: 16px;
  }
  .part{
    margin-bottom: 30px;
  }
}
