:local {
  .container {
  }
  .svgContainer {
    display: block;
    margin: 0 auto;
    margin-top: 28px;
  }
  .path1 {
    opacity: 1;
    fill: #a9a9a9;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
  .path2 {
    opacity: 1;
    fill: #a9a9a9;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}