:local {
  .container {
    i {
      color: #2c3e50 !important;
      font-size: 18px !important;
      position: relative;
      left: 28px;
      z-index: 1;
    }
  }
  .search {
    width: 140px;
    text-indent: 14px !important;
    border-radius: 30% !important;
  }
}

:global {
  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder {
    left: 14px !important;
  }
  .ant-select-combobox .ant-select-search__field {
    width: 80% !important;
  }
}
