:local{
  .calendarContainer{
    margin-top: 20px;
    border:1px solid #e5e5e5;
    padding: 20px;
    position: relative;
    *{
      user-select:none;
    }
  }

  .curMonth{
    font-size: 16px;
    cursor: pointer;
    &:hover{
      color:#40a9ff;
    }
  }

  .calendarLine:first-child{
    margin-top: 20px;
  }

  .calendarLine{
    width: 100%;
    text-align: center;
    p{
      position: relative;
      cursor: pointer;
      width: 60px;
      padding: 5px 10px;;
    }
    p:hover{
      background: #d1e9ff;
      transition: all 0.3s;
    }
  }

  .iconLeft,.iconRight{
    font-size: 16px;
    i{
      margin: 0 5px;
      cursor: pointer;
      &:hover{
        color:#40a9ff;
      }
    }
  }

  .pick-date{
    color: #1890ff;
    font-weight: bold;
    border-color: #1890ff;
    background:#d1e9ff;
    transition: all .3s;
  }

  .rest{
    position: absolute;
    right: 0;
    top: 0;
    color:red;
  }

  .disabled-date{
    color:rgba(0,0,0,0.25);
    cursor:not-allowed;
    pointer-events: none;
  }

  .price{
    color:#ff5722bf;
    font-size:12px;
  }

  .loading{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #dadada;
    opacity: 0.65;
    z-index: 10;
  }
}