.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.box {
  position: absolute;
  color: white;
  background: orange;
  width: 100px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
}

.box1 {
  background: red;
}

.box2 {
  background: green;
}

.box3 {
  background: blue;
}
